<%= f.label :name, "Name" %>
<%= f.text_field :name %>

<%= f.label :description, "Description" %>
<%= f.text_area :description %>

<!--讓 event 可以用 select 單選一個 category 兩種寫法選一 效果一樣-->
<%= f.collection_select(:category_id,Category.all,:id,:name) %>
<!--
<%= f.select :category_id,Category.all.map { |c|[c.name,c.id]  } %>
-->

<!--在 event new/edit 中 可以使用 checkbox 多選 group 兩種寫法選一種 效果一樣(書)-->
<%= f.collection_check_boxes(:group_ids,Group.all ,:id,:name) %>



<%= f.fields_for :location do |location_form| %>
	<p>
		<%= location_form.label :name,"Location Name" %>
		<%= location_form.text_field :name %>

			<% unless location_form.object.new_record? %>
				<%= location_form.label :_destroy,"Remove；" %>
				<%= location_form.check_box :_destroy %>
			<% end %>
	</p>
<% end %>

<% if @event.errors.any? %>
	<ul>
		<% @event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>