<!-- 使用kaminari分頁套件後加入: -->
<%= paginate @events %>

<ul>
	<% @events.each do |event| %>
	<li>

		<%= event.name %>
		<!--使用外卡路由 格式定義在routes-->
		<!--
		<button type="button" class="btn btn-success">
		<%= link_to "顯示", controller: "events" , action: "show" ,id: event %>
		</button>

		<button type="button" class="btn btn-primary">
		<%= link_to "編輯",controller: "events",action: "edit" , id: event %>
		</button>

		<button type="button" class="btn btn-danger">
		<%= link_to "刪除",controller: "events",action: "destroy", id:event %>
		</button>
		-->

		<!--使用Restful-->
		<%= link_to "show" , event_path(event) %>

		<!--加入其他格式的超連結-->
    	<%= link_to " (XML)", event_path(event, format: :xml) %>
    	<%= link_to " (JSON)", event_path(event, :format => :json) %>


		<%= link_to "edit" , edit_event_path(event) %>
		<%= button_to "delete" , event_path(event) , method: :delete , data: {confirm: "Are you sure?" }%>

	</li>
	<% end %>
</ul>
<!--
<%= link_to "New Event", controller: "events",action: "new" %>
-->

<!--使用Restful-->
<%= link_to "New Event" , new_event_path %>
<br>
<!--加入其他格式的超連結-->
<%= link_to "Atom feed", events_path(:format => :atom) %>
