<!-- 使用kaminari分頁套件後加入: -->
<%= paginate @events %>

<ul>
	<% @events.each do |event| %>
	<li>

		<%= event.name %>
		<!--使用外卡路由 格式定義在routes-->
		<!--
		<button type="button" class="btn btn-success">
		<%= link_to "顯示", controller: "events" , action: "show" ,id: event %>
		</button>

		<button type="button" class="btn btn-primary">
		<%= link_to "編輯",controller: "events",action: "edit" , id: event %>
		</button>

		<button type="button" class="btn btn-danger">
		<%= link_to "刪除",controller: "events",action: "destroy", id:event %>
		</button>
		-->

		<!--使用Restful-->
		<%= link_to "show" , event_path(event) %>

		<!--加入其他格式的超連結-->
    	<%= link_to " (XML)", event_path(event, format: :xml) %>
    	<%= link_to " (JSON)", event_path(event, :format => :json) %>


		<%= link_to "edit" , edit_event_path(event) %>
		<%= button_to "delete" , event_path(event) , method: :delete , data: {confirm: "Are you sure?" }%>

		<!--Restful綜合應用實作-->
		<%= link_to "attendees", event_attendees_path(event) %>

		<%= link_to "location",event_location_path(event) %>

		<%= link_to "Dashboard" ,dashboard_event_path(event) %>

	</li>
	<% end %>
</ul>
<!--
<%= link_to "New Event", controller: "events",action: "new" %>
-->

<!--使用Restful-->
<%= link_to "New Event" , new_event_path %>
<br>
<!--加入其他格式的超連結-->
<%= link_to "Atom feed", events_path(:format => :atom) %>

<%= button_to "Delete All" , bulk_delete_events_path , method: :post %>


<!--若要將此核取方塊與這條線之上程式合併 須刪除上面的delete 不然這裡的Delete功能會重複無法執行-->
<%= form_tag bulk_update_events_path do %>
<ul>
	<% @events.each do |e| %>
	<li>
		<%= check_box_tag "ids[]" ,e.id, false %>
		<%= e.name %>
	</li>
	<% end %>
</ul>
<%= submit_tag "Delete" %>
<%= submit_tag "Publish" %>
<% end %>
